# Copyright 2018 Dematic, Corp.
# Licensed under the MIT Open Source License: https://opensource.org/licenses/MIT

truckAlertUI:
  loadBalancerIP: "{{truck_ui_load_balancer_ip}}"
  loadBalancerIP_de: "{{truck_ui_load_balancer_ip_de}}"
truckAlertServer:
